---
layout: default
title: Publications
include_in_header: true
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <ol reversed> {% for publi in site.data.publications %} <div class="panel-heading">
        <li>
         
            <b>
              <!-- authors --> {% assign authors = "" | split:"/" %} {% for author in publi.author %} {% assign authors = authors | push: author.authorName %} {% endfor %} {{ authors | array_to_sentence_string }}, <a class="btn btn-outline-primary" href="{{publi.DOI}}" role="button" target="_blank">{{ publi.title }}</a>
            </b>-
            <!-- container -->
            <b>
              <i>{{ publi.container-title }}</i>
            </b>
            <!-- issued date --> ({{ publi.issued.date-parts | jsonify | slice: 3,4 }})
          
        </li>
      </div> {% endfor %} </ol>
  </div>
</div>
